<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.tysmith.dashclock.evernote"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-permission android:name="evernote.permission.READ_DATA" />

    <uses-sdk android:minSdkVersion="17" android:targetSdkVersion="18" />

    <application android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@drawable/ic_launcher"
        android:theme="@style/AppTheme">

        <service android:name=".ReminderService"
                 android:icon="@drawable/ic_launcher"
                 android:label="@string/extension_title"
                 android:permission="com.google.android.apps.dashclock.permission.READ_EXTENSION_DATA">

            <intent-filter>
                <action android:name="com.google.android.apps.dashclock.Extension" />
            </intent-filter>
            <meta-data android:name="protocolVersion" android:value="1" />
            <meta-data android:name="worldReadable" android:value="true" />
            <meta-data android:name="description"
                       android:value="@string/extension_description" />
        </service>
    </application>

</manifest>
